@define-color surface0 rgba(255, 255, 255, 0.9);
@define-color surface1 #c6a0f6;
@define-color surface2 #c6a0f6;
@define-color surface3 #c6a0f6;

* {
  padding: 0;
  margin: 0;
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 16px;
  background-color: #1a1c2b; /* Reduced opacity background */ 
  border-radius: 10px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
}

.modules-right {
  padding-right: 5px;
}

#custom-launcher {
  font-size: 20px;
  color: #00bfff;
  padding-right: 10px;
  background-color: #1a1c2b;
}

/* #cpu, */
/* #memory */
/* #temperature{ */
/*   font-size: 15px; */
/*   margin-top: 5px; */
/*   margin-bottom: 5px; */
/*   background-color: #2a2d45; */
/* } */
/**/
/* #cpu { */
/*   color: #eed49f; */
/*   padding: 0px 10px 0px 12px; */
/*   border-radius: 5px 0px 0px 5px; */
/* } */
/**/
/* #memory { */
/*   color: #a6da95; */
/*   padding: 0px 10px 0px 0px; */
/* } */
/**/
/* #temperature { */
/*   color: #8aadf4; */
/*   padding: 0px 12px 0px 0px; */
/*   border-radius: 0px 5px 5px 0px; */
/* } */

#cpu,
#memory,
#temperature {
  font-size: 15px;
  background: #2a2d45;
  margin-top: 5px;
  margin-bottom: 5px;
}


#tray {
  font-size: 15px;
  background: #2a2d45;
  margin-top: 5px;
  margin-bottom: 5px;
}

#cpu {
  color: #eed49f;
  padding: 0px 10px 0px 12px;
  border-radius: 5px 0px 0px 5px;
}

#memory {
  color: #a6da95;
  padding: 0px 10px 0px 0px;
  border-radius: 0px 5px 5px 0px;
}

#temperature {
  color: #8aadf4;
  padding: 0px 12px 0px 0px;
  border-radius: 0px 5px 5px 0px;
}

#custom-window-name {
  color: #68b0d6;
  margin-right: 10px;
  background-color: #1a1c2b;
}

#custom-pacman-update-icon {
  background-color: #68b0d6;
  color: #181926;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#custom-pacman-update {
  color: #8bd5ca;
  margin: 5px 10px 5px 0px;
}

/* =============================== */
/* Workspaces */
#workspaces {
  padding-left: 8px;
  padding-right: 8px;
  border: 2px solid #2a2d45;
}

#workspaces * {
  font-size: 0px;
}

#workspaces button {
  background-color: @surface3;
  border-radius: 100%;
  min-height: 14px;
  min-width: 14px;
  margin: 5px 8px;
  padding: 0px;
  transition: all 0.5s cubic-bezier(.55, -0.68, .48, 1.68);
  box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}

#workspaces button.active {
  background: @surface2;
  color: @surface2;
  border-radius: 1rem;
  padding: 0rem 15px;
  box-shadow: 0 0 0 5px @surface2; /* Adjust the last value (3px) to match the gap size */
  animation: gradient_f 20s ease-in-out infinite;
  transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}


#workspaces button:hover {
  background-color: @surface2;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 30%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient_f {
  0% {
    background-position: 0% 200%;
  }

  50% {
    background-position: 200% 0%;
  }

  100% {
    background-position: 400% 200%;
  }
}

@keyframes gradient_f_nh {
  0% {
    background-position: 0% 200%;
  }

  100% {
    background-position: 200% 200%;
  }
}


#workspaces button:nth-child(1) label {
  color: #8aadf4;
  margin: 0px 8px;
  background-color: #1a1c2b;
}

#workspaces button:nth-child(2) label {
  color: #ed8796;
  margin: 0px 8px;
  background-color: #1a1c2b;
}

#workspaces button:nth-child(3) label {
  color: #a6da95;
  margin: 0px 8px;
  background-color: #1a1c2b;
}

#workspaces button:nth-child(4) label {
  color: #c6a0f6;
  margin: 0px 8px;
  background-color: #1a1c2b;
}

#workspaces button:nth-child(5) label {
  color: #f4dbd6;
  margin: 0px 8px;
  background-color: #1a1c2b;
}

#workspaces button:nth-child(6) label {
  color: #f5a97f;
  margin: 0px 8px;
  background-color: #1a1c2b;
}

#workspaces button:nth-child(7) label {
  color: #8bd5ca;
  margin: 0px 8px;
  background-color: #1a1c2b;
}

#workspaces button:nth-child(8) label {
  color: #68b0d6;
  margin: 0px 8px;
  background-color: #1a1c2b;
}

#workspaces button:nth-child(9) label {
  color: #aab1d3;
  margin: 0px 8px;
  background-color: #1a1c2b;
}

/* =============================== */


#battery {
  color: #a6da95;
  /* margin: 0px 10px 0px 0px; */
}

#pulseaudio,
#backlight {
  font-size: 15px;
  background-color: #2a2d45;
  margin-top: 5px;
  margin-bottom: 5px;
}

#backlight {
  color: #eed49f;
  padding: 0px 10px 0px 10px;
  border-radius: 5px 0px 0px 5px;
}

#pulseaudio {
  color: #91d7e3;
  padding: 0px 10px 0px 0px;
  border-radius: 0px 5px 5px 0px;
}

#custom-right-arr {
  color: #8aadf4;
  background-color: #1a1c2b;
}

#custom-pacman {
  color: #68b0d6;
  background-color: #1a1c2b;
}

#network {
  color: #c6a0f6;
  margin-right: 10px;
  background-color: #1a1c2b;
}

#custom-dot {
  color: #6e738d;
  padding-right: 10px;
  background-color: #1a1c2b;
}

#custom-dot-alt {
  color: #a5adcb;
  padding-left: 10px;
  padding-right: 10px;
}

#disk {
  color: #68b0d6;
  background-color: #1a1c2b;
}

#custom-clock-icon {
  color: #cad3f5;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#custom-filler {
  color: #6e738d;
  padding-left: 0px;
  padding-right: 9px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#custom-filler2 {
  color: #6e738d;
  padding-left: 3px;
  padding-right: 9px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#clock {
  padding-left: 10px;
  margin-left: 10px;
}

/*# sourceMappingURL=style.css.map */

